.header {
  text-align: center;
}

p.code-desc {
  font-size: 10px;
  font-weight: normal;
  line-height: 1;
}

.btn-primary {
  font-size: 15px;
  font-weight: bold;
  background-color: #309FC4;
  border-color: #309FC4;
  height: 110px;
  width: 9%;
  margin: 0.5%;
  padding-left: 3px;
  padding-right: 3px;
  overflow: hidden;
}
