/* Rating Button Styles*/
.btn-primary {
  font-size: 5vmin;
  font-weight: bold;
  background-color: #3f51b5;
  border-color: #3f51b5;
  border-radius: 4px;
  height: 30vmin;
  width: 9%;
  margin: 0.25% 0.5%;
  padding-left: 3px;
  padding-right: 3px;
  overflow: hidden;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.btn-primary:focus,
.btn-primary.focus {
  background-color: #007bff;
  border-color: #007bff;
}

p.code-desc {
  font-size: 3vmin;
  font-weight: normal;
  line-height: 1;
}

/* Video Player Styles */
.player-wrapper {
  position: relative;
  padding-top: 50vmin; /* Player ratio: 100 / (1280 / 540) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* Form Styles */
div.MuiDialog-paperWidthSm {
  max-height: 100%;
  max-width: 100%;
}

div.MuiFormControl-root {
  width: 100%;
  overflow: hidden;
}

/* Before Coding Dialog Styles */
div.MuiDialogContent-root {
  overflow-y: visible;
}

div.MuiDialogActions-spacing {
  padding: 10px 20px 20px;
}

/* Screen Portrait Orientation Message Styles */
.portrait-container {
  text-align: center;
  padding: 25vmax 0;
}

.portrait-text {
  padding: 5vmax 0;
}
